.header {
  background-color: #eeeeee;
  height: 80px;
}

.header-signup {
  position: relative;
  background-color: #142664;
  width: 100px;
  height: 600px;
  top: 20px;
  left: 80.46%;
  border-radius: 10px;
  text-align: middle;
  vertical-align: middle;
  color: white;
  font-weight: bold;
}

.header-signin {
  position: relative;
  background-color: white;
  width: 100px;
  height: 40px;
  bottom: 20px;
  left: 90.62%;
  border-radius: 10px;
  border: 3px solid #142664;
  text-align: center;
  vertical-align: middle;
  color: #142664;
  font-weight: bold;
}
