.logo {
  position: relative;
  font-size: 40px;
  transform: translate(8px, 8px);
  transition: all 0.3s;
  mix-blend-mode: exclusion;
  font-weight: bold;
  text-transform: uppercase;
  color: #142664;
  text-decoration: none;
}

.logo:hover {
  transform: translate(10px, 10px);
}

.logo::after {
  content: "Rater";
  position: absolute;
  mix-blend-mode: exclusion;
  top: 5px;
  left: 5px;
  transition: all 0.3s;
  color: #541464;
}

.logo:hover::after {
  top: 0;
  left: 0;
}

.logo::before {
  content: "Rater";
  position: absolute;
  mix-blend-mode: difference;
  top: -5px;
  left: -5px;
  transition: all 0.3s;
  color: #541464;
}

.logo:hover::before {
  top: 0;
  left: 0;
}
