.header {
  background-color: #000;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100px + 100px + 30px);
}

.header__link {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s;
  box-sizing: border-box;
}

.header__link:hover {
  box-shadow: 0 0 0 5px white;
}

.header__link_signup {
  background-color: #142664;
  color: #fff;
}

.header__link_signin {
  background-color: white;
  border: 3px solid #142664;
  color: #142664;
}

.header__link_signin:hover {
  border: 5px solid #142664;
}
